<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Event</title>
</head>
<body>
    <div style="border:solid">
        Pages:
        <br>
        <a href="/">Create a new event</a>
        <br>
        <a href="/events">View all saved events</a>
    </div>

    <form id="addEvent" action="/" method="post">
    <fieldset>
        <legend>Create a new event</legend>
            Title: <input type="text" name="title">
            Description: <input type="text" name="description">
            Date: <input type="date" name="date">
            Invite List: <input type="email" multiple name="invites">
        <input type="submit" value="Submit" />
    </fieldset>

    </form>
</body>
</html>