<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Event</title>
</head>
<body>
    <div style="border:solid">
        Pages:
        <br>
        <a href="/">Create a new event</a>
        <br>
        <a href="/events">View all saved events</a>
    </div>

    <br>
    <div>Instructions: Enter an Event Title, Description, Date, a list of email addresses separated by commas, then press submit to create a new Event</div>
    <div>Click on View all saved events to view your list of saved events, delete old events, and view each individual Event Page</div>
    <div>Go to individual Event Pages to view your list of invitees and check who has RSVP'd</div>
    <br>

    <form id="addEvent" action="/" method="post">
        <fieldset>
            <legend>Create a new event</legend>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">

                <label for="description">Description:</label>
                <input type="text" id="description" name="description">

                <label for="date">Date:</label>
                <input type="date" id="date" name="date">

                <label for="invites">Invites:</label>
                <input type="email" id="invites" multiple name="invites">
            <input type="submit" value="Submit" />
        </fieldset>
    </form>

</body>
</html>