<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    test succeeded
    <form id="addEvent" action="/" method="post">
    <fieldset>
        <legend>Add a new Event</legend>
            Title: <input type="text" name="title">
            Description: <input type="text" name="description">
            Date: <input type="date" name="date">
            Invite List: <input type="text" name="invites">
        <input type="submit" value="Submit" />
    </fieldset>

    </form>
</body>
</html>